apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: nfs-subdir-external-provisioner
  namespace: flux-system
spec:
  interval: 30m
  releaseName: nfs-subdir-external-provisioner
  targetNamespace: nfs-provisioner
  chart:
    spec:
      chart: nfs-subdir-external-provisioner
      version: 4.0.18
      sourceRef:
        kind: HelmRepository
        name: nfs-subdir-external-provisioner
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    nfs:
      server: 192.168.1.112
      path: /volume1/fire_share2
    storageClass:
      name: nfs-storage
      defaultClass: true
      mountOptions:
        - nfsvers=3
    resources: {}
