apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: logging-loki
  namespace: flux-system
spec:
  interval: 30m
  releaseName: loki
  targetNamespace: logging
  chart:
    spec:
      chart: loki
      version: 2.9.5
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  suspend: false
  values:
    persistence:
      enabled: true
      storageClassName: longhorn
      size: 5Gi
    schemaConfig:
      configs:
        - from: 2020-10-15
          store: boltdb-shipper
          objectStore: filesystem
          schema: v11
          index:
            prefix: index_
            period: 168h
    storageConfig:
      boltdb_shipper:
        active_index_directory: /data/loki/index
        shared_store: filesystem
      filesystem:
        directory: /data/loki/chunks
    table_manager:
      retention_period: 720h
      retention_deletes_enabled: true
