apiVersion: v1
kind: Service
metadata:
  name: minecraft
  namespace: games
spec:
  type: NodePort
  selector:
    app: minecraft
  ports:
    - name: mc
      port: 25565
      targetPort: mc
      nodePort: 30565
