apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: monitoring-alertmanager
  namespace: flux-system
spec:
  interval: 30m
  releaseName: alertmanager
  targetNamespace: monitoring
  chart:
    spec:
      chart: alertmanager
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  suspend: false
  values:
    config:
      global:
        resolve_timeout: 5m
      route:
        receiver: default
        group_by:
          - alertname
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 1h
      receivers:
        - name: default
