apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: flux-system
spec:
  interval: 30m
  releaseName: external-dns
  targetNamespace: dns
  chart:
    spec:
      chart: external-dns
      version: 1.14.4
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  suspend: true
  values:
    provider: cloudflare
    txtOwnerId: homelab
    domainFilters: []
    extraArgs:
      - --cloudflare-proxied
    cloudflare:
      secretName: external-dns-cloudflare
      apiTokenKey: api-token
