apiVersion: v1
kind: Service
metadata:
  name: jellyseer
  namespace: media
spec:
  type: NodePort
  selector:
    app: jellyseer
  ports:
    - name: http
      port: 5055
      targetPort: http
      nodePort: 30555
